<!doctype html>
{% load static %}
{% load django_htmx %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    {% htmx_script %}
    <title>Product recommendation system</title>
</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
{% block body %}
    <div class="min-h-screen w-full bg-green-100 text-center p-4 gap-4">
        <p class="text-xl m-4 p-4">Please visit the recommendations page to try the app.</p>
        <a href="{% url 'recommendations:recommend_page_view' %}" class="p-4 text-lg text-orange-500">Click here to go
            recommendations page</a>
    </div>
{% endblock body %}
</body>
</html>